<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772520628110-j72j6rrk95qb7fkkc88q6qgsr7bpfqd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772520628110-j72j6rrk95qb7fkkc88q6qgsr7bpfqd7</string>
	<key>API_KEY</key>
	<string>AIzaSyAqRaO8GO4SfbtolfB1LmY94qQZ_mv-6kU</string>
	<key>GCM_SENDER_ID</key>
	<string>772520628110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sabroson.vendorApp</string>
	<key>PROJECT_ID</key>
	<string>saborson-vendor</string>
	<key>STORAGE_BUCKET</key>
	<string>saborson-vendor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772520628110:ios:3380054e6f3d20bc245edf</string>
</dict>
</plist>